# IDE
.vscode/
.vs/
CMakeUserPresets.json
.ccls-cache/
user_build.bat
user_build.sh
.emscripten_cache/

# libraries
engine/lib/*
!/engine/lib/glad
!/engine/lib/par_shapes

# build files
build/

# imgui
imgui.ini

# renderdoc
*.cap

# Mac OS
.DS_Store
